@import 'variables.less';
@import 'mixins.less';

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: @bg-color-secondary;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    &:hover, &:active, &:focus {
        text-decoration: none;
    }
}

.logo-container {
    position: relative;
    height: 80px;
    text-align: center;

    img {
        position: relative;
        margin: 10px 0;
        z-index: 2;
    }

    .logo_mask {
        width: 220px;
        height: 130px;

        position: absolute;
        left: 50%; bottom: -50px;
        margin-left: -110px;
        z-index: 1;

        background: url('../images/logo_mask.png') no-repeat bottom center;
    }
}

.main-navigation {
    .col-md-5 {
        &:first-of-type { text-align: right; }
        &:last-of-type { text-align: left; }
    }

    li {
        display: inline-block;
        vertical-align: middle;

        list-style: none;
        padding: 0 20px;

        &:hover > ul {
            display: block;
        }

        > ul {
            display: none;
            padding: 15px;
            margin-top: -15px;
            margin-left: -15px;
            position: absolute;
            border-top: 1px solid #c2a476;
            background-color: @bg-color-secondary;
            z-index: 9999;
            &:before, &:after {
                position: absolute;
                content: '\2022';
                font-size: 16px;
                line-height: 16px;
                color: #c2a476;
                top: -9px;
            }
            &:before { left: -2px; }
            &:after { right: -2px; }

            li {
                display: block;
                padding: 10px;
                a {
                    line-height: 20px;
                    text-transform: none;
                }
            }
        }

        a {
            position: relative;
            font-family: 'Lora', serif;
            font-size: 14px;
            line-height: 80px;
            letter-spacing: 0.5px;
            padding: 3px 0;
            text-transform: uppercase;
            color: #353535;

            &:hover {
                border-bottom: 1px solid #c2a476;
                &:before, &:after {
                    position: absolute;
                    content: '\2022';
                    font-size: 16px;
                    line-height: 16px;
                    color: #c2a476;
                    bottom: -9px;
                }
                &:before { left: -4px; }
                &:after { right: -4px; }
            }
        }
    }
}

.title-symbol {
    display: inline-block;
    width: 122px;
    height: 21px;

    background: url('../images/title-symbol.png') no-repeat center center;
}

.sub-heading, .page-content h2 {
    font-family: 'Lora', serif;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #353535;
    padding-bottom: 70px;
    background: url('../images/title-symbol.png') no-repeat top 48px center;
}

.dark-background {
    background-color: @bg-color-primary;
}

.breadcrumps {
    span {
        position: relative;
        font-size: 13px;
        line-height: 60px;
        color: #ababab;
        text-transform: uppercase;
        padding-right: 24px;
        &:after {
            content: '\25B6';
            position: absolute;
            right: 5px;
        }
        &:last-of-type {
            &:after { display: none; }
        }
    }
}

input[type="checkbox"] {
    display: none;
    + label {
        position: relative;
        padding-left: 25px;
        &:before {
            content: '';
            position: absolute;
            left: 0;
            width: 15px;
            height: 15px;
            background: url(../images/check-mark.png) no-repeat right center;
        }
    }
    &:checked + label {
        &:before { background-position: left center; }
    }
}
.owl-carousel {
    .row { padding: 20px; }
}
.social-icons {
    text-align: right;
    a {
        display: inline-block;
        vertical-align: middle;
        width: 50px;
        height: 50px;

        background-image: url(../images/48-social-icons.png);
        background-size: auto 276px;
    }
    .facebook {
        background-position: -6px -5px;
    }
    .twitter {
        background-position: -49px -5px;
    }
    .instagram {
        background-position: -135px -5px;
    }
}

.owl-dots {
    margin-top: 35px;
    text-align: center;
    .owl-dot {
        display: inline-block;
        vertical-align: middle;
        margin: 0 10px;

        width: 15px;
        height: 15px;
        border-radius: 100%;
        border: 1px solid #c2a476;

        &.active {
            background-color: #c2a476;
        }
    }
}